apiVersion: v1
kind: ConfigMap
metadata:
  name: otel-collector-config
  namespace: simple-otel
data:
  config.yaml: |
    receivers:
      otlp:
        protocols:
          http:
            endpoint: 0.0.0.0:4318

    processors:
      batch: {}

    connectors:
      spanmetrics:
        # optional: tweak later
        metrics_flush_interval: 15s

    exporters:
      otlp:
        endpoint: jaeger:4317
        tls:
          insecure: true

      prometheus:
        endpoint: 0.0.0.0:9464

    service:
      pipelines:
        traces:
          receivers: [otlp]
          processors: [batch]
          exporters: [otlp, spanmetrics]

        metrics:
          receivers: [spanmetrics]
          processors: [batch]
          exporters: [prometheus]